.featured{
    width: 100%;
   
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
  }
  
  .featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    flex:1
  }
  .h {
    font-size: 1.5rem; /* Make the font size smaller */
    background-color: white; /* Set background color to white */
    color: black; /* Set text color to black */
    border-radius: 5px; /* Add border radius */
    padding: 10px; /* Add padding for better appearance */
    display: inline-block; /* Ensure the background covers only the content */
}

/* Style for h2 element */
.h{
    font-size: 1rem; /* Make the font size smaller */
    background-color: white; /* Set background color to white */
    color: black; /* Set text color to black */
    border-radius: 5px; /* Add border radius */
    padding: 5px; /* Add padding for better appearance */
    display: inline-block; /* Ensure the background covers only the content */
}
  .city-info {
    background-color: #fff; /* Set background color to white */
    border: 1px solid #f0eaea; 
    border-radius: 100px;
    /* Add a 2px solid black border */
    color: #000; /* Set text color to black */
    padding: 20px; /* Add padding for spacing */
    width: max-content; /* Set width to fit content */
    margin: auto; /* Center horizontally */
  }
  
  .city-info h1 {
    margin: 0; /* Remove default margin */
  }
  
  .city-info h2 {
    margin-top: 5px; /* Add space between h1 and h2 */
  }
  
  .featuredImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .featuredImg {
  transition: transform 0.3s ease;
}

.featuredImg.zoomed {
  transform: scale(1.2) rotate(15deg);
}
.featuredImg {
  transition: transform 0.3s ease;
}

.featuredImg:hover {
  transform: scale(1.2) rotate(15deg);
}

  
  .featuredTitles{
    position: absolute;
    bottom: 20px;
    /* left: 20px; */
  }